.LogIn{
   margin: auto;
   display: flex;
   flex-direction: column;
   background-color: lightsteelblue;
   padding: 15px;
   border-radius: 10px;
   margin-top: 20px;

   &__buttons__buttonLog{
      width: fit-content;
      margin: auto;
   }

   &__buttons__register{
      width: fit-content;
      margin: auto;
   }

   input{
      width: 250px;
      margin-bottom: 10px;
      padding: 5px;
   }

   &__buttons{
      display: flex;
      margin: initial;
   }

   &__text{
      margin: auto;
      padding-bottom: 25px;
      padding-top: 15px;
   }

   &__text2{
      margin-bottom: 15px;
   }
}