.TodoTable {
   display: flex;
   background-color: lightsteelblue;
   display: inline-block;
   border-radius: 12px;
   margin-top: 10px;
   margin-bottom: 10px;
   min-width: 350px;
}

.TodoTable__empty {
   margin: 15px;
   font-weight: bold;
   font-family: monospace;
   font-size: large;
   text-align: center;
   background-color: white;
   padding: 5px;
   border-radius: 5px;
}

.TodoRow{
   display: flex;
   margin: 10px;
   background-color: white;
   padding: 5px;
   border-radius: 5px;
   
}

.TodoRow__text{
   margin-right: 5px;
   font-size: larger;
}

.TodoRow__delete{
   margin-right: 5px;
   border-radius: 5px;
   border-width: 1px;
}

.TodoRow__edit{
   margin-left: auto;
   padding-left: 5px;
   border-radius: 5px;
   border-width: 1px;
}

.TodoInput{
   margin: auto;
}

.TodoInput__button{
   border-radius: 5px;
   border-width: 1px;
   padding: auto;
   padding: 3px;
}

input[type="edit"] {
   width: -webkit-fill-available;
   margin-right: 5px;
   border-radius: 5px;
   border-width: 1px;
   padding: 2.5px;
}

input[type="add"] {
   width: 200px;
   margin-right: 10px;
   border-radius: 5px;
   border-width: 1px;
   padding: 4px;
}