.root {
  display: flex;
  margin: auto;
  margin-top: 10px;
  font-family: monospace;
}

.main {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.version {
  text-align: center;
  color: lightgray;
  font-weight: bold;
  font: -webkit-mini-control;
  margin: 5px;
}

